*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/watered-c14bb-firebase-adminsdk-fbsvc-cf02191074.json
/.zed
/auth.json
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor/*
Homestead.json
Homestead.yaml
Thumbs.db
!/vendor/filament
